body {
    font-family: 'Open Sans', sans-serif;
    margin-inline-end: 0;
    text-align: center;
    background-image : url("../images/bg/gameBackgroundRedBlue.jpg");
    background-size: cover;
    /* background-color: aquamarine; */
    width: 100%;
    height: 100%;
    color: white;
}

h1{
    margin-top: 50px;
    font-size: 2.2em;
    font-weight: 400;
}

h3{
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 400;
}

 canvas{
     background-size: cover;
     background-color: #666666;
     margin: auto;
 }
 #pause-button{
     display: none;
 } 
#new_game{
    display: none;
} 
.btn{
    margin: 20px auto;
    padding: 15px 15px;
    color: white;
    font-size: 1.1em;
    width: 150px;
    background-color: transparent;
    border-color: white;
    border-radius: 30px;
    
}