body {
    font-family: 'Montserrat', sans-serif;
    margin-inline-end: 0;
    text-align: center;
  }
 canvas{
     border: 1px solid green;
     /* background-image: url('../images/2842.jpg'); */
     background-size: cover;
     background-color: aqua;
     margin: auto;
 }
 #pause-button{
     display: none;
 } 
#second-level{
    display: none;
} 
.btn{
    margin: 20px auto;
    padding: 10px;
    /* border: transparent;
    border-radius: 10px; */
    
}